.collapsible_perso {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  .active_perso, .collapsible_perso:hover {background-color: #555;}
  .collapsible_perso:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  .active_perso:after {content: "\2212";}
  .content_perso {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }
  
  .number-perso{width:150px;}
  .rouge{color:red;}
  .tableau{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .tableau-contenu{
    position: relative;
    margin: auto;
    margin-top:15px;
    padding: 0;
    width: 80%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  .barre{
      margin-left:5px;
      margin-right:5px;
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
      .grid-container {
        display: grid;
        grid-template-columns: auto auto;
      }
      .grid-container > div {
        margin-left: 20px;
        margin-right:20px;
      }
      .grid-container4 {
        display: grid;
        grid-template-columns: auto auto auto auto;
      }
  }
  
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (max-width: 768px) {
      .grid-container > div {
        margin-left: 20px;
        margin-right:20px;
      }
      .grid-container4 {
        display: grid;
        grid-template-columns: auto auto;
      }
  }

	.progress{background-color: white;}