body{margin:0;}
#sidebar{width: 300px;right: 0;top:0;height: 100vh;position: fixed;background-color: rgba(0, 0, 0, 0.5);z-index: 3;border-radius: 15px 0 0 15px;border: solid darkgrey;overflow: auto;}
#sortie{
  color: blanchedalmond;
  margin: 15px;margin-top: 0px;
  border-radius: 15px;border: solid darkgrey;
  height: calc(100% - 255px);
  padding: 15px;
  overflow: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: none; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: whitesmoke; 
}

@media all and (max-width: 800px) {
  .modal{
    z-index: 5; /* Sit on top */
    width: 100%; /* Full width */
  }
  .modal-content{
    width: 80%;
  }
}
@media all and (max-width: 1075px) {
  .modal{
    z-index: 1; /* Sit on top */
    width: calc(100% - 302px); /* Full width */
  }
  .modal-content{
    width: 66%;
  }
}
@media all and (min-width: 1075px) {
  .modal{
    z-index: 1; /* Sit on top */
    width: calc(100% - 302px); /* Full width */
  }
  .modal-content{
    width: 50%;
  }
}

#modal-body ul, #sortie ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#sortie ul li {
  padding: 0.6em 0.8em 0.45em 2.8em;
  font-size: 16px;
  font-weight: 700;
  transition: all 200ms ease;
  position: relative;
  letter-spacing: -0.04em;
  overflow: hidden;
}
#sortie ul li::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-380px);
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.335, 1);
  z-index: -1;
}
#sortie ul li::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: white;
  position: absolute;
  left: 17px;
  top: 17px;
  transition: all 200ms ease;
  border-radius: 33% 67% 65% 35%/46% 62% 38% 54%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  padding-top: 15px; /* Location of the box */
  padding-bottom: 15px;
  left: 0;
  top: 0;
  height: calc(100% - 30px); /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  overflow: auto;
  height: 100%;
  border: 1px solid #888;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal-content::-webkit-scrollbar-thumb {
  background: black; 
  margin-top: 5px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}
.modal-header {padding: 2px 16px;}
.modal-body {padding: 2px 16px;}
.modal-footer {
  padding: 2px 16px;
  margin-bottom: 15px;
}

/* PLAY */
.play_1 {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column;
  }
  .play_2 {
    width: 100%;
    max-width: 240px;
    height: 54px;
    padding: 8px;
    font-size: 1rem;
    font-weight: 900;
    color: #ff4655;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 0 0 1px inset rgba(236, 232, 225, 0.3);
    position: relative;
    margin: 10px 0;
    cursor:pointer;
  }
  .white:hover > p {color: #ece8e1;}
  .white > p {
  /*  background: #ece8e1;	*/
    color: #01d758;
  }
  .white > p span.base {border: 1px solid #01d758;}
  .blue:hover > p {
    color: #ece8e1;
  }
  .blue > p {
  /*  background: #ece8e1;	*/
    color: #0f056b;
  }
  .blue > p span.base {border: 1px solid #0f056b;}
  .transparent:hover > p {color: #ece8e1;}
  .transparent:hover > p span.text {box-shadow: 0 0 0 1px #ece8e1;}
  .transparent > p {
    background: #0f1923;
    color: #ece8e1;
  }
  .transparent > p span.base {border: 1px solid #ece8e1;}
  .play_2:after, .play_2:before {
    content: "";
    width: 1px;
    position: absolute;
    height: 8px;
    background: #0f1923;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .play_2:before {
    right: 0;
    left: initial;
  }
  div a p {
    margin: 0;
    height: 54px;
    line-height: 54px;
    box-sizing: border-box;
    z-index: 1;
    left: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  div a p span.base {
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    border: 1px solid #ff4655;
  }
  div a p span.base:before {
    content: "";
    width: 2px;
    height: 2px;
    left: -1px;
    top: -1px;
    background: #0f1923;
    position: absolute;
    -webkit-transition: 0.3s ease-out all;
    transition: 0.3s ease-out all;
  }
  div a p span.bg {
    left: -5%;
    position: absolute;
    background: #ff4655;
    width: 0;
    height: 100%;
    z-index: 3;
    -webkit-transition: 0.3s ease-out all;
    transition: 0.3s ease-out all;
    -webkit-transform: skewX(-10deg);
            transform: skewX(-10deg);
  }
  div a p span.text {
    z-index: 4;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  div a p span.text:after {
    content: "";
    width: 4px;
    height: 4px;
    right: 0;
    bottom: 0;
    background: #0f1923;
    position: absolute;
    -webkit-transition: 0.3s ease-out all;
    transition: 0.3s ease-out all;
    z-index: 5;
  }
  div a:hover {color: #ece8e1;}
  div a:hover span.bg {width: 110%;}
  div a:hover span.text:after {background: #ece8e1;}
  
  #modificateur {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    display: none;
    transition-duration: 2s;
  }
  
  #modificateur td, #modificateur th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #modificateur tr:nth-child(even){background-color: #f2f2f2;}
  #modificateur tr:hover {background-color: #ddd;}
  #modificateur th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #008CBA;
    color: white;
  }

  .ledecl {
    position: absolute; right: 50px; border: 1px solid; border-radius: 10px; background: none; color: whitesmoke;
    cursor: pointer; font-size: 12px;font-style: italic;
  }
  #modif_temps {
    border: 1px solid; border-radius: 5px; vertical-align: sub; outline-style: none; box-shadow: none;
    max-width: 100%;
  }
