body {
    margin-bottom: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}
.grid-container3 {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.centrer{
    display: table;
    margin: 0 auto;
}

.trig,.Dlt{
    cursor: pointer;
}