body {
    margin: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

.centrer{
    display: table;
    margin: 0 auto;
}

.Dlt{
    display: inline-flex;
    height: 100%;
}